@tailwind base;
@tailwind components;
@tailwind utilities;

.splide__container{
  margin: 0 20px 0 20px;
}

.splide__title_text{
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.splide__subtitle_text{
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

.splide__arrows{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
}

.splide__arrows > .splide__finish{
  background:  rgb(191, 106, 15);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px 0 20px;
  padding: 10px;
  border-radius: 20px;
}

.splide__arrows > .splide__arrow{
  display:none;
  background:  rgb(191, 106, 15);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px 0 20px;
  padding: 10px;
  border-radius: 20px;
}